.*{
    box-sizing: border-box;
}

html, body, ul {	
    margin:0;
    padding:0;
    /*font-family: Arial, Helvetica, sans-serif; */
    font-family: "Poppins", sans-serif;

}

h1{
	color:rgb(182,209,146);
	display:block;
}

@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}


body {
    background: white;
}

.container{
        position: relative;
        overflow: hidden;
        width:100vw;        
        }

.main-header{
	position: relative;
	overflow: hidden;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;

}

.logo{
	/*position: absolute;
	margin-left:0;
	margin-top:0;*/
	width:200px;
	height:200px;
}

.main-nav {

	position: relative;

	width: 90%;
	height:auto;
	align-self: center;
    /*
    margin-left: 200px;    
    
	height: 40px;
    margin-top: 80px;
    */
    margin-bottom: -20px;
    
    padding-left: 2em;
    padding-right: 2em;

}

.bar-nav{

    background-color: #47473D;
  
    list-style-type: none;

    display: flex;
    flex-direction:row; 
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;

}

.bar-nav li{
	
	padding: 0em 0em;

}

.bar-nav a {

	flex-grow: 1;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;

    /*padding: 10px 30px;*/
    padding: 1em 1em;

}

.icono{

	flex-grow: 1;
  	font-family: "FontAwesome", sans-serif;
  	font-size: 100%;
  	padding: 1em 1em;
}

.bar-nav a:hover{
    background-color: rgb(182,209,146);
    /* text-decoration: underline;*/
}

.banner{
	width: 100%;
	position:relative;
	overflow: hidden;
	padding-left: 2%;
	}

.banner img{
	
	width:24%;
	height:auto; 
	float:left;
}

.frases{
	width: 90%;
	margin-left: 5%;
	position:relative;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	padding:10px;
}

.frase1, .frase2, .frase3 {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}


.frases img{
	width: 300px;
	height: auto;
	border-radius:50%;
}

.main-promo{
	width:100%;
	position:relative;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

}

.main-promo article{

	width:22%;
	position:relative;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	justify-content: flex-start;

}

.main-promo h2{
	text-align:center;
	color:rgb(182,209,146);
}

.main-promo img{
	height: 200px;
	width:200px;
}
.main-promo p{
	overflow-wrap: wrap;
}

.main-footer{
	/*background-color: rgb(240,239,239); light-light-grey*/
	max-width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;

}

.main-footer h3 {
	display: block;  
    color:#47473D; /* grey*/
    text-decoration: none;
    text-align: center;   
}

.footer-menu{
	list-style-type: none;
	display:flex;	
	flex-direction: row;	
	justify-content: space-around;
	align-items: center;
}


.footer-links{
	display:flex;
	list-style-type: none;
	flex-direction: column;	
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
	
}

.footer-links a{
	color: rgb(182,209,146);  /*verde*/


}

.footer-links a:hover{
    text-decoration: underline;
    color:#47473D;
}


.container_faq {
	max-width:80vw;
	margin-left: 10%;
}

.question_list{
	margin-left:20px;
	text-decoration:none;
}


/* ----- Formulario de ingreso ------ */

.container-formulario{
	position: relative;
    overflow: hidden;
    max-width:80vw;
    margin-left: 10%;
}

.sign-in-container{
		
		position: relative;
        overflow: hidden;
        max-width:80vw;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: flex-start;

}

.cliente-antiguo, .cliente-nuevo, .crear-cliente{
		border-style:solid;
		border-color: #47473D; /* grey*/
		width: 40%;
		padding:20px;
		position: relative;
}
.crear-cliente{
			width: 60%;
}

@media only screen and (max-width : 992px) {

.main-header{
	flex-direction: column;
	justify-content: center;
  	align-items:center;
}

.main-nav{
	margin-bottom: 20px;
	align-self: center;
}

.frases img{
	width: 200px;	
}

.main-promo article{
	width:44%;
}



}

@media only screen and (max-width : 790px) {
.frases{
	display:none;
}

@media only screen and (max-width : 490px) {

.banner{
	display:none;
}


}
.main-promo article{
	width:90%;
}

}








